.modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 581px;
  background-color: var(--lite-color);
  border-radius: 4px;

  animation-name: modal;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: top left;

  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;

  &:focus,
  &:hover {
    fill: var(--activ);
  }
}

.modal__close {
  width: 18px;
  height: 18px;
  color: currentColor;
}

@keyframes modal {
  0% {
    transform: scale(0.2);
  }

  100% {
  }
}
