:root {
  --accent-color: #757575;
  --background-header-footer: #2f303a;
  --activ: #2196f3;
  --primary-color: #000000;
  --lite-color: #ffffff;
  --logo: #2196f3;
  --contacts-footer-color: rgb(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --cards-border-color: #eeeeee;
  --bgc-btn: #f5f4fa;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --bgc-icon-footer: rgba(255, 255, 255, 0.1);
  --bgc-overflow: rgba(33, 150, 243, 0.9);
  --form-color: rgba(117, 117, 117, 0.5);
}
